@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Courgette&family=Rubik+Bubbles&display=swap');
body{
	background: url("images1/fondo.jpg");
	color: white;
	font-size: 30px;
	font-family: 'Caveat', cursive;
	font-family: 'Courgette', cursive;
	font-family: 'Rubik Bubbles', cursive;
	text-align: center;
}

h1{
	background-color: red;
	border: 5px double white;
	border-radius: 40px;
	margin: 15px;
	font-size: 50px;
	color: white;
}

div img{
	border-radius: 50px;
	max-width: 500px;
}

div iframe{
	border-radius: 50px;
	max-width: 500px;
}
	

p{
	font-size: 30px;
	text-align: left;
	max-width: 100%;
	padding: 50px;
	color: pink;
	background-color: red;
	border-radius: 50px;
	margin: 50px;
}

footer a img{
	max-width: 50px;
	padding: 5px;
}

.fin{
	text-align: center;
	padding: 10px;
}

@media only screen and (max-width: 600px) {
  	body{
		background: url("5fondo.jpg");
		color: white;
		font-size: 10px;
		font-family: 'Caveat', cursive;
		font-family: 'Courgette', cursive;
		font-family: 'Rubik Bubbles', cursive;
		text-align: center;
	}

	h1{
		background-color: red;
		border: 5px double white;
		border-radius: 40px;
		margin: 25px;
		font-size: 30px;
		color: white;
	}

	div img{
		border-radius: 50px;
		max-width: 270px;
	}

	p{
		font-size: 20px;
		text-align: left;
		max-width: 100%;
		padding: 50px;
		color: pink;
		background-color: red;
		border-radius: 50px;
		margin: 50px;
	}

	div iframe{
		max-width: 100%;
		border-radius: 30px;
	}

	footer a img{
		max-width: 50px;
		padding: 5px;
	}

	.fin{	
		text-align: center;
		padding: 10px;
	}
}